name: demo_wf

on:
  workflow_call:
    inputs:
      version:
       type: string
       required: true

      distribution:
       type: string
       required: true

jobs:
  job9:
   runs-on: ubuntu-latest
   steps:
     - name: show
       run: echo "${{ inputs.version }}" "${{ inputs.distribution }}" >> $GITHUB_STEP_SUMMARY
