name: Demo

on:
 workflow_dispatch: 

jobs:
 job1:
   runs-on: ubuntu-latest
   steps:
      - name: print variable
        run: |
         echo "${{ vars.CUSTOMER }}"  >> $GITHUB_STEP_SUMMARY
         echo "${{ secrets.CUSTOMER_PHNO }}"  >> $GITHUB_STEP_SUMMARY
             
     
   
  

  
