name: Demo

on:
 workflow_dispatch: 

jobs:
 job1:
   runs-on: ubuntu-latest
   steps:
      - name: print variable
        run: |
         echo "${{ vars.NAME }}"  >> $GITHUB_STEP_SUMMARY
         echo "${{ secrets.PHNO }}"  >> $GITHUB_STEP_SUMMARY
             
     
   
  

  
